* {
    margin: 0;
    padding: 0;
  }

.header {
    font-size: 50px;
    padding: 30px 100px 30px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(196, 0, 0);
    text-shadow: 1px 1px rgb(1, 26, 170);
}

.employee {
    padding: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    text-align: left;
}

.titlebox {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    justify-content: left;
    background-color: rgb(5, 60, 211);
    padding: 10px 10px 10px 10px;
    box-shadow: 5px 6px 8px;
    
}

.wrapper {
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: center;
}

.footer {
    padding: 30px 0px 0px 0px;
    text-align: center;
}